*{
    font-family: 'Sometype Mono', monospace;
    box-sizing: border-box;
    padding: auto;
    text-align: center;
}

.card{
    margin-top: auto;
    align-items: center;
    width: 15cm;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 3px;
    background-color: aliceblue;
    text-align: center;
}